@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0;
    font-family:'Roboto', sans-serif;
}

#gridContainer{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    border-color:black;
    height: 100vh;
}

#header{
    grid-column-start: 2;
    grid-column-end: 6;
    display:grid;
    grid-template-columns: 3fr 5fr;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;    
}

#header .magnify, .bell{
    width:20px;
}

.search{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 40px;
}

.searchBar{
    background-color: rgb(230, 232, 236);
    width:500px;
    height:25px;
    border:0;
    border-radius: 100px;
}

.user{
    font-weight:600;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.user .profile {
    width:50px;
    border-radius: 50%;
}

.userIntro{
    font-weight:600;
    display:flex;
    align-items: center;
    justify-content: start;
    padding-left: 40px;
    gap: 20px;
    font-size: 14px;
}

.userIntro .user{
    font-size: 24px;
    font-weight: 900;
    padding-top:10px;
}

.userIntro .profile{
    width:70px;
    border-radius: 50%;
}

.links{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.links button{
    background-color: #00a2ed;
    font-weight:600;
    color: white;
    align-items: center;
    border:0;
    border-radius:100px;
    box-sizing:border-box;
    display:inline-flex;
    min-height: 35px;
    min-width:80px;
    justify-content:center;
}

#sidebar{
    background-color: #00a2ed;
    font-weight:700;
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:1;
    grid-row-end: 5;
    min-width: 250px;
    display:grid;
    align-items: start;
    align-content:start;
    
}

#sidebar img{
    width:20px;
    padding-right:10px;
    padding-left:10px;
}

#sidebar .title img{
    width:40px;
    padding-right:10px;
    padding-left:10px;
}

#sidebar .G1, .G2{
    font-size:18px;
    padding-top: 15px;
    display:flex;
    justify-content: start;
}

#sidebar .title{
    font-size:25px;
    padding-top:20px;
    display:flex;
    align-items: center;
}

#sidebar .title, .G1, .G2{
    filter:invert(100); 
}

#content{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start:2;
    grid-row-end: 5;
    background-color: rgb(230, 232, 236);
    grid-template-columns: 3fr 1fr;
    grid-template-rows: ;
    display:grid;
    padding:20px;
    gap:20px;
}

#content #projects img{
    width:20px;
}

#projects{
    display:grid;
}

#projects .header{
    font-weight:800;
    padding-bottom: 10px;
    font-size: 18px;
    position:relative;
    bottom:735px;
}

#projects .cards{
    position:relative;
    top:32px;
    grid-area: 1/1/2/2;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:15px;
}

.card{
    width: 300px;
    height: 175px;
    background-color:white;
    gap: 10px;
    border-radius: 8px;
    padding:10px;
    display:grid;
    grid-template-rows: 4fr 1fr;
    padding-bottom:20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-left:40px;
    border-left:10px solid orange;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card .title{
    font-weight:800;
    padding-bottom:4px;
}

.card .images{
    display:flex;
    justify-content: end;
    gap:20px;
}

#announcements{
    grid-area:1/2/2/3;
}

#announcements .header{
    font-weight:800;
    padding-bottom: 10px;
    font-size: 18px;
}

#announcements .content{
    font-size: 12px;
    display: grid;
    background-color: white;
    border-radius: 6px;
    padding:20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#announcements .title{
    font-weight: 700;
}

#announcements .entry{
    padding-top: 20px;
    padding-bottom: 20px;
}

#announcements .entry:not(:first-child){
    border-top: 1px solid rgb(223, 218, 218);
}

#trending{
    grid-area: 1/2/2/3;
    position:relative;
    top:61%;
}

#trending .content{
    display:grid;
    background-color: white;
    border-radius: 6px;
    grid-template-columns: 1fr 2fr;
    font-weight:100;
    gap:10px;
    padding-top:15px;
    padding-bottom:15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#trending div, #trending p{
    display:grid;
    align-items: center;
    justify-items: start;
    font-size: 12px;
}

#trending .content img{
    width:50px;
    border-radius: 50%;
    padding-left: 20px;
}

#trending .header{
    font-weight:800;
    padding-bottom: 10px;
    font-size: 18px;
}

p:nth-child(2){
    color:rgb(160, 160, 160);
}